<div class="flex justify-center items-center">

    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()"
        class="py-2 px-12 md:px-15 lg:px-20 lg:py-4 rounded-lg shadow-md bg-color">
        <h1 class="flex justify-center">Take a New Note </h1>
        @if(sucessMessage){
        <p class=" w-65 h-12 m-auto mt-3 flex justify-center items-center border rounded-md bg-green-300">
            <i class="bi bi-check-circle me-2">{{ sucessMessage}}</i>
        </p>
        }
        <div class="mb-4 mt-4 md:w-80 lg:w-110">
            <label for="title" class="text-xl font-semibold cursor-pointer">Title</label><br>
            <input type="text" formControlName="title" placeholder="title" name="title" id="title"
                class="w-100 h-10 border border-orange-300 rounded-md px-2 focus:outline-none focus:ring-2 focus:ring-orange-400">
            @if(noteForm.controls['title'].hasError('required') && noteForm.controls['title'].touched){
            <span class="text text-danger">Title is required</span>
            } @else {
            @if (noteForm.controls['title'].hasError('pattern')) {
            <span class="text text-danger">Only letters and numbers allowed</span>
            }
            }
        </div>

        <div class="mb-4">
            <label for="content" class="text-xl font-semibold cursor-pointer">Content</label><br>
            <textarea name="content" formControlName="content" id="content" placeholder="type here..."
                class="w-100 h-32 column-4 border border-orange-300 rounded-md px-2 focus:outline-none focus:ring-2 focus:ring-orange-400"></textarea>
            @if(noteForm.controls['content'].hasError('required') && noteForm.controls['content'].touched){
            <span class="text text-danger">Content is required</span>
            } @else if (noteForm.controls['content'].hasError('pattern')) {
            <span class="text text-danger">Only letters and numbers allowed</span>
            } @else if (noteForm.controls['content'].hasError('minLength')) {
            <span class="text text-danger">Enter at least 25 characters</span>
            }
        

        </div>

        <!-- form submite button -->
        <div class="flex justify-between">

            <!-- submit button -->
            <div class="border border-orange-300 rounded-md">
                @if(!isEdit){
                <div
                    class="w-24 md:w-30 h-10 bg-blue-300 items-center hover:bg-blue-400 rounded-md flex justify-center items-center">
                    <button type="submit" class="w-24 md:w-30 h-10" [disabled]="noteForm.invalid" >
                        Submit
                    </button>
                </div>

                } @else{
                @if(isEdit){
                <div
                    class="w-24 md:w-30 bg-orange-300 items-center hover:bg-orange-400 rounded-md flex justify-center items-center">
                    <button type="update" class="w-24 md:w-30 h-10">
                        Update
                    </button>
                </div>
                }

                }
            </div>

            <!-- close button -->
            <div
                class="w-24 md:w-30 h-10 bg-orange-300 items-center hover:bg-orange-400 rounded-md flex justify-center items-center">
                <button (click)="closeForm()" class="w-24 md:w-30 h-10">
                    Close
                </button>
            </div>
        </div>
    </form>
</div>